footer{

    width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

section2{
  width: 80%;
  border: 1px solid red;
  margin: auto;

}

article{
  margin: 0%;
  float: left;
}

.art6{
  margin: 0%;
  width: 40%;
  border:1px solid;
  display: block;

}

#uno{
  width: 40%

}
#dos{
width: 40%
}
#tres{
width: 40%
}
#quatro{
width: 30%
}
